<app-header></app-header>

<!-- --------------------------------------- buttons container -------------------------------------------------------- -->

<div class="button-container">
  <!-- Add Task Button -->
  <button
    pButton
    type="button"
    label="Add New Task"
    icon="pi pi-plus"
    *ngIf="isValidUser"
    (click)="showDialog('add')"
  ></button>

  <!-- Sign Up Button -->
  <p-button
    label="Sign Up"
    icon="pi pi-user-plus"
    *ngIf="!isValidUser"
    (onClick)="showSignupDialog()"
  ></p-button>

  <!-- Login Button -->
  <p-button
    (onClick)="showLoginDialog()"
    icon="pi pi-user"
    label="Login"
    *ngIf="!isValidUser"
  ></p-button>

  <!-- Logout Button -->
  <p-button
    label="Logout"
    icon="pi pi-sign-out"
    class="p-button-danger"
    (onClick)="logout()"
    *ngIf="isValidUser"
  ></p-button>
</div>

<!-- --------------------------------------- buttons container -------------------------------------------------------- -->

<!-- --------------------------------------- add task  -------------------------------------------------------- -->

<!-- Task Dialog -->
<p-dialog
  header="{{ dialogTitle }}"
  [(visible)]="visible"
  [modal]="true"
  [styleClass]="'dialog-style'"
>
  <div class="p-fluid">
    <div class="dialog-header">Task Details</div>
    <!-- Task Title -->
    <div class="mb-4">
      <label for="title" class="font-semibold block mb-1">Task Title: </label>
      <input
        pInputText
        id="title"
        [(ngModel)]="task.title"
        style="width: 100%; height: 2rem"
        autocomplete="off"
      />
      <small id="username-help"> Enter task title. </small>
    </div>

    <!-- Description -->
    <div class="mb-4">
      <label for="description" class="font-semibold block mb-1"
        >Description:
      </label>
      <input
        pInputText
        id="description"
        [(ngModel)]="task.description"
        style="width: 100%; height: 2rem"
        autocomplete="off"
      />
      <small id="username-help"> Enter task description. </small>
    </div>

    <!-- Label Dropdown -->
    <div class="mb-4">
      <label for="label" class="font-semibold block mb-2"
        >Select Status:
      </label>
      <p-dropdown
        id="label"
        [(ngModel)]="task.label"
        [options]="labels"
        optionLabel="name"
        placeholder="Select a label"
        class="w-full"
        [appendTo]="'body'"
      ></p-dropdown>
    </div>

    <!-- Buttons -->
    <div class="dialog-footer">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="closeDialog()"
      ></p-button>
      <p-button label="{{ btnText }}" (onClick)="addTask()"></p-button>
    </div>
  </div>
</p-dialog>

<!-- --------------------------------------- add task  -------------------------------------------------------- -->

<!-- --------------------------------------- sign up -------------------------------------------------------- -->

<!-- Signup Dialog -->
<p-dialog 
[(visible)]="signupVisible" 
[modal]="true"
[styleClass]="'dialog-style'"
header="Create an Account"
>
<div class="p-fluid">
  <div class="dialog-header">Sign Up</div>
  <!-- Username -->
  <div class="mb-3">
    <label for="username">Username</label>
    <input 
      pInputText 
      id="username" 
      [(ngModel)]="signupData.username" 
      placeholder="Enter username"
    />
  </div>

  <!-- Email -->
  <div class="mb-3">
    <label for="email">Email</label>
    <input 
      pInputText 
      id="email" 
      [(ngModel)]="signupData.email" 
      placeholder="Enter email" 
      type="email"
    />
  </div>

  <!-- Password -->
  <div class="mb-3">
    <label for="password">Password</label>
    <input 
      pInputText 
      id="password" 
      [(ngModel)]="signupData.password" 
      placeholder="Enter password" 
      type="password"
    />
  </div>

  <!-- Confirm Password -->
  <div class="mb-3">
    <label for="confirmPassword">Confirm Password</label>
    <input 
      pInputText 
      id="confirmPassword" 
      [(ngModel)]="signupData.confirmPassword" 
      placeholder="Confirm password" 
      type="password"
    />
  </div>

  <!-- Buttons -->
  <div class="dialog-footer">
    <p-button 
      label="Cancel" 
      severity="secondary" 
      (onClick)="signupVisible = false"
    ></p-button>
    <p-button 
      label="Sign Up" 
      (onClick)="signup()" 
      [disabled]="!isSignupFormValid()"
    ></p-button>
  </div>
</div>
</p-dialog>

<!-- --------------------------------------- sign up -------------------------------------------------------- -->

<!-- --------------------------------------- login  -------------------------------------------------------- -->

<!-- Login Dialog -->
<p-dialog
  [(visible)]="loginVisible"
  [modal]="true"
  [styleClass]="'dialog-style'"
  header="Welcome Back"
>
  <div class="p-fluid">
    <div class="dialog-header">Login</div>
    <!-- Email -->
    <div class="mb-3">
      <label for="email">Email</label>
      <input
        pInputText
        id="email"
        [(ngModel)]="email"
        placeholder="Enter your email"
        type="email"
      />
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="password">Password</label>
      <input
        pInputText
        id="password"
        [(ngModel)]="password"
        type="password"
        placeholder="Enter your password"
      />
    </div>

    <!-- Buttons -->
    <div class="dialog-footer">
      <p-button
        label="Cancel"
        severity="secondary"
        (onClick)="closeLoginDialog()"
      ></p-button>
      <p-button
        label="Login"
        (onClick)="login()"
        [disabled]="!email || !password"
      ></p-button>
    </div>
  </div>
</p-dialog>

<!-- --------------------------------------- login  -------------------------------------------------------- -->

<!-- --------------------------------------- table  -------------------------------------------------------- -->

<!-- Confirmation Dialog -->
<p-confirmDialog></p-confirmDialog>

<!-- Table of Products -->
<p-table [value]="tasks$ | async" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Created At</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.createdAt | date : "medium" }}</td>
      <td>
        <p-tag
          [value]="task.status"
          [severity]="getSeverity(task.status)"
        ></p-tag>
      </td>
      <td>
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-sm p-button-rounded p-button-text"
          (click)="editTask(task)"
          tooltip="Edit"
        >
          Edit
        </button>
        <button
          pButton
          icon="pi pi-trash"
          class="p-button-sm p-button-rounded p-button-text p-button-danger"
          (click)="confirmDelete(task?._id)"
          tooltip="Delete"
        >
          Delete
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- --------------------------------------- table  -------------------------------------------------------- -->
